{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'home/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'home/css/styles.css' %}"
        />

        <link
            href="https://fonts.googleapis.com/css?family=B612|Roboto|Vollkorn&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato|Playfair+Display&display=swap"
            rel="stylesheet"
        />

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Story 7</title>
        {% endif %}
    </head>
    <body>
        <div
            style="text-align: center; padding-top: 40vh; padding-bottom: 40h;"
        >
            <form action="{% url 'home-confirm' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-2 offset-sm-4">
                        Name <br />
                        <input
                            style="text-align: center;"
                            type="text"
                            id="name"
                            name="name"
                            maxlength="50"
                            readonly
                            value="{{ name }}"
                        />
                    </div>
                    <div class="col-sm-2">
                        Status <br />
                        <input
                            style="text-align: center;"
                            type="text"
                            id="status"
                            name="status"
                            maxlength="50"
                            readonly
                            value="{{ status }}"
                        />
                    </div>
                </div>
                <br />
                <div>
                    <input
                        style="margin-right: 2vw;"
                        type="submit"
                        name="confirmation"
                        value="Confirm"
                        id="confirmation"
                        class="btn btn-success"
                    />
                    <a
                        style="margin-left: 2vw;"
                        href="{% url 'home-index' %}"
                        id="cancel"
                        name="cancel"
                        class="btn btn-danger"
                        >Cancel</a
                    >
                </div>
            </form>
        </div>
    </body>
</html>
