{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'home/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'home/css/styles.css' %}"
        />

        <link
            href="https://fonts.googleapis.com/css?family=B612|Roboto|Vollkorn&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato|Playfair+Display&display=swap"
            rel="stylesheet"
        />

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Story 7</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <br /><br />
            <div style="text-align: center; align-items: center;">
                <div
                    style="
                        font-family: 'Playfair Display';
                        font-size: 50px;
                        font-weight: 400;
                    "
                >
                    Hello, how are you?
                </div>
                <div
                    class="container"
                    style="
                        font-family: 'Lato';
                        font-size: 18px;
                        text-align: center;
                        max-width: 300px;
                    "
                >
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input
                                name="name"
                                type="text"
                                class="form-control"
                                id="inputName"
                                aria-describedby="nameHelp"
                                placeholder="Enter name"
                                maxlength="135"
                            />
                            <small id="nameHelp" class="form-text text-muted"
                                >You don't have to use your real name</small
                            >
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Status</label>
                            <input
                                name="status"
                                type="text"
                                class="form-control"
                                id="inputStatus"
                                placeholder="How are you feeling?"
                                maxlength="230"
                            />
                        </div>
                        <a href="{% url 'home-confirm' %}">
                            <button
                                name="submit-button"
                                type="submit"
                                class="btn btn-dark thingy"
                            >
                                Submit
                            </button>
                        </a>
                    </form>
                </div>
            </div>
            <div
                style="
                    text-align: center;
                    vertical-align: middle;
                    margin-top: 50px;
                "
            ></div>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-success color-button" onclick="change()">
                Ubah
            </button>
        </div>
        <div
            class="container"
            style="
                text-align: center;
                font-family: Playfair Display;
                font-size: 14px;
            "
        >
            <br />
            <br />
            <div
                id="status-list"
                class="container"
                style="
                    text-align: center;
                    overflow-y: scroll;
                    max-height: 65vh;
                    max-width: 310px;
                    overflow-wrap: break-word;
                "
            >
                <div
                    style="
                        font-family: 'Playfair Display';
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 22px;
                    "
                >
                    {% for s in message %}
                    <p class="target" id="target">
                        <b>{{ s.name }}: </b>
                        <span style="font-size: 20px; font-family: Lato;">
                            {{ s.status }}
                        </span>
                        <br />
                        <span
                            style="
                                font-size: 12px;
                                font-weight: 50;
                                color: grey;
                                font-family: Lato;
                            "
                        >
                            {{ s.time }}
                        </span>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </body>
    <script>
        function change() {
            var x = document.getElementsByClassName("target");
            var i;
            for (i = 0; i < x.length; i++) {
                // Red = rgba(255,0,0,1)
                x[i].style.color = "Red";
            }
        }
    </script>
</html>
